
    
    <h1>Salvador Dalí</h1>
    <img class="izquierda" src="https://www.todocuadros.com.mx/imagenes/artistas/salvador-dali.jpg" style="width: 20%;" alt="">
    <p>
        <ul>
            <li><b>Datos del artista</b></li>
            <li><b>Nombre: </b>Salvador Felipe Jacinto Dalí i Domènech</li>
            <li><b>Nacionalidad: </b>España</li>
            <li><b>Año de nacimiento: </b>1904, España</li>
            <li><b>Año de muerte: </b>1989, Francia</li>
            <li><b>Estilo: </b>Surrealismo</li>
        </ul>
    </p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Es uno de los artistas más reputados de la historia de España, nació en 1904 y murió a los 85 años en la ciudad natal: Figueras (Cataluña). Salvador Dalí fue el pintor más destacado del movimiento surrealista español. Tras su muerte dejó tras de sí una basta colección de obras, y una nueva forma de entender la estética y el arte. <br> Excéntrico como nadie, su imagen personal e ideas; todo estaba teñido por su sensibilidad artística. <br> Uno de los rasgos de Dalí que más llamaba la atención era el contraste generado por una personalidad tan peculiar, y la enorme capacidad de trabajo y excelencia técnica, que demostraba constantemente.</p>
    <br><br>

    <table>
        <tr>
            <td><h3>"La persistencia de la memoria"</h3></td>
            <td><h3>"Sueño causado por el vuelo de una abeja alrededor de una granada un segundo antes de despertar"</h3></td>
            <td><h3>"Cisnes que se reflejan como elefantes"</h3></td>
            <td><h3>"Los Elefantes"</h3></td>
            <td><h3>"La tentación de San Antonio"</h3></td>
        </tr>
        <tr>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/imagenes/pintores/dali/persistencia-memoria-dali-obra.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/imagenes/pintores/dali/cuadro-sueno-abeja-granada-dali.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/imagenes/pintores/dali/cisnes-reflejo-elefantes-dali.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/imagenes/pintores/dali/los-elefantes-dali.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/imagenes/pintores/dali/tentacion-san-antonio-dali-cuadro.jpg"  alt=""></td>
        </tr> 
    </table>
    <br>
    <a class="hover" href="index.html">Volver al Inicio</a>
