{{> header }}
{{> navbar }}

    <h1>Leonardo Da Vinci</h1>
    <img class="izquierda" src="https://www.xlsemanal.com/wp-content/uploads/sites/3/2017/04/conocer-arte-Leonardo-Da-Vinci-979x1024.jpg" style="width: 20%;" alt="">
    <p>
        <ul>
            <li><b>Datos del artista</b></li>
            <li><b>Nombre: </b>Leonardo Da Vinci</li>
            <li><b>Nacionalidad: </b>Italia</li>
            <li><b>Año de nacimiento: </b>1452, Italia</li>
            <li><b>Año de muerte: </b>1519, Francia</li>
            <li><b>Estilo: </b>Renacimiento</li>
        </ul>
    </p>
    <br><br><br><br>
    <p id="hist">Leonardo da Vinci fue un polímata florentino del Renacimiento italiano. Fue a la vez pintor, anatomista, arquitecto, paleontólogo, artista, botánico, científico, escritor, escultor, filósofo, ingeniero, inventor, músico, poeta y urbanista. Murió acompañado de Francesco Melzi,​ a quien legó sus proyectos, diseños y pinturas. Tras pasar su infancia en su ciudad natal, Leonardo estudió con el pintor florentino Andrea de Verrocchio. Sus primeros trabajos de importancia fueron creados en Milán al servicio del duque Ludovico Sforza. Trabajó a continuación en Roma, Bolonia y Venecia, y pasó sus últimos años en Francia, por invitación del rey Francisco I. Su asociación histórica más famosa es la pintura. Dos de sus obras más conocidas, La Gioconda y La Última Cena, han sido copiadas y parodiadas en varias ocasiones, al igual que su dibujo del Hombre de Vitruvio. No obstante, únicamente se conocen alrededor de 20 obras suyas, debido principalmente a sus reiterados (y a veces desastrosos) experimentos con nuevas técnicas y a su inconstancia crónica. Este reducido número de creaciones, junto con sus cuadernos con dibujos, diagramas científicos y reflexiones sobre la naturaleza de la pintura, constituyen un legado para las sucesivas generaciones de artistas. Frecuentemente descrito como un arquetipo y símbolo del hombre del Renacimiento, genio universal, además de filósofo humanista cuya curiosidad infinita solo puede ser equiparable a su capacidad inventiva, Leonardo da Vinci es considerado uno de los más grandes pintores de todos los tiempos y, probablemente, la persona con el mayor número de talentos en múltiples disciplinas que jamás ha existido. Como ingeniero e inventor, Leonardo desarrolló ideas muy adelantadas a su tiempo, tales como el helicóptero, el carro de combate, el submarino y el automóvil. Muy pocos de sus proyectos llegaron a construirse (entre ellos la máquina para medir el límite elástico de un cable), puesto que la mayoría no eran realizables durante esa época. Como científico, Leonardo da Vinci hizo progresar mucho el conocimiento en las áreas de anatomía, la ingeniería civil, la óptica y la hidrodinámica.</p>

    <table id="obras">
        <tr>
            <td><h3>"La Última Cena"</h3></td>
            <td><h3>"La Mona Lisa"</h3></td>
            <td><h3>"Virgen del Huso"</h3></td>
            <td><h3>"La Dama del Armiño"</h3></td>
            <td><h3>"Estudio de Manos y Brazos"</h3></td>
        </tr>
        <tr>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/u/l/ultima-cena-reproduccion.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/m/o/mona-lisa-da-vinci.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/v/i/virgen-huso-leonardo.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/d/a/dama-armino-da-vinci.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/e/s/estudio-manos-leonardo.jpg"  alt=""></td>
        </tr> 
    </table>
    <br>

{{> footer }}