{{> header }}
{{> navbar }}

    <h1>Algunos de mis pintores favoritos</h1>
    <p>A continuacion veremos cuatro de los pintores mas reconocidos en todo el mundo, de los cuales hablaremos de su vida y algunas de sus obras mas importantes. Tambien se veran los datos personales de estas personalidades. Elegi estos pintores porque fueron los que mas me agradaron, a parte me intereso demasiado sus obras y parte de su vida. Todo esto lo mostramos con el fin de recopilar la informacion de estas personas y tenerlas en un mismo lugar, por lo cual investigamos a fondo y resumimos estos datos para que el publico en general los pueda comprender de una manera mas sencilla.</p>

    <h3>Salvador Dali</h3>
    <img class="izquierda" src="https://www.todocuadros.com.mx/imagenes/artistas/salvador-dali.jpg" style="width: 20%;" alt="">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <h3>Leonardo Da Vinci</h3>
    <img class="izquierda" src="https://www.xlsemanal.com/wp-content/uploads/sites/3/2017/04/conocer-arte-Leonardo-Da-Vinci-979x1024.jpg" style="width: 20%;" alt="">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>

    <h3>Pablo Ruiz Picasso</h3>
    <img class="izquierda" src="https://upload.wikimedia.org/wikipedia/commons/9/98/Pablo_picasso_1.jpg" style="width: 20%;" alt="">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <h3>Vincent de van Gogh</h3>
    <img class="izquierda" src="https://www.todocuadros.com.mx/imagenes/artistas/autorretrato-van-gogh-bn.jpg" style="width: 20%;" alt="">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{{> footer }}