{{> header }}
{{> navbar }}

    <h1>Pablo Ruiz Picasso</h1>
    <img class="izquierda" src="https://upload.wikimedia.org/wikipedia/commons/9/98/Pablo_picasso_1.jpg" style="width: 20%;" alt="">
    <p>
        <ul>
            <li><b>Datos del artista</b></li>
            <li><b>Nombre: </b>Pablo Ruiz Picasso</li>
            <li><b>Nacionalidad: </b>España</li>
            <li><b>Año de nacimiento: </b>1881, España</li>
            <li><b>Año de muerte: </b>1973, Francia</li>
            <li><b>Estilo: </b>Academicismo, expresionismo, cubismo, modernismo.</li>
        </ul>
    </p>
    <br><br><br><br><br>
    <p id="hist">Nacido en Málaga, pintó su primer cuadro a la edad de 8 años: "El picador amarillo". Pronto mostró una habilidad impresionante para su edad, era capaz de pintar gran cantidad de figuras ciñéndose con naturalidad a las normas más conservadoras de la composición académica. <br> El estilo de Picasso no puede ser encuadrado en una lista finita, ya que no solo fue un gran aporte para los principales movimientos modernistas europeos, sino que ciertas vertientes se le atribuyen sólo a él (ej: protocubismo, periodo azul y el minotauro). <br> El éxito de Picasso es un crisol de muchos factores: su genialidad, las escuelas donde estudió (Barcelona y París principalmente), su interés por lo social, su amistad con artistas y marchantes, su producción prolífica de cuadros, la mentalidad innovadora y su liderazgo. Si bien al final de su carrera tendía a pintar figuras cada vez más simples, rozando lo abstracto, su autoridad como artista era incuestionable, especialmente por su bagaje en obras de gran factura. Picasso se ganó el derecho a romper las reglas, ya que logró dominarlas a la perfección. Es considerado desde la génesis del siglo xx como uno de los mayores pintores que participaron en muchos movimientos artísticos que se propagaron por el mundo y ejercieron una gran influencia en otros grandes artistas de su tiempo. Sus trabajos están presentes en museos y colecciones de toda Europa y del mundo. Además, abordó otros géneros como el dibujo, el grabado, la ilustración de libros, la escultura, la cerámica y el diseño de escenografía y vestuario para montajes teatrales. También tiene una breve obra literaria.</p>

    <table id="obras">
        <tr>
            <td><h3>"Niño con paloma"</h3></td>
            <td><h3>"Paisaje mediterráneo"</h3></td>
            <td><h3>"Las Señoritas de Avignon"</h3></td>
            <td><h3>"Desnudo y narturaleza muerta"</h3></td>
            <td><h3>"El descanso"</h3></td>
        </tr>
        <tr>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/p/i/picasso-nino-paloma.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/p/a/paisaje-mediterraneo-picasso.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/s/e/senoritas-avignon-picasso.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/d/e/desnudo-naturaleza-muerta-picasso.jpg"  alt=""></td>
            <td><img class="izquierda" src="https://www.todocuadros.com.mx/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/d/e/descanso-picasso.jpg"  alt=""></td>
        </tr> 
    </table>
    <br>

{{> footer }}